/* Asterisk wildcard sector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #2e1c17;
}

/* Header styles */
header {
    margin: 2%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    color: inherit;
}

header a {
    text-decoration: none;
    color: inherit;
}

nav {
    display: block;
    position: relative;
    width: 100%;
}

#logo {
    height: 80px;
}

#menu {
    display: flex;
    justify-content: flex-end;
}

#menu>li {
    list-style-type: none;
    position: relative;
    bottom: 0;
    padding: 0 5px;
}

/* Main styles */
main {
    flex: 1 0 auto;
}

#hero {
    height: 250px;
    /* This a filter-gradient over the photo so the white text isn't hard to read when it over the fire 
    and the hammer effect is more visible */
    background: linear-gradient(0deg, rgba(46, 28, 23, 1) 0%, rgba(28, 17, 15, .3) 20%, 
    rgba(28, 17, 15, 0.7) 65%, rgba(28, 17, 15, 0.7) 100%),
        url('../images/Hero-pic.png') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

section h1 {
    font-size: 200%;
}

section h2 {
    font-size: smaller;
}

/* Footer styles */
footer {
    background: linear-gradient(0deg, rgba(28, 17, 15, 1) 50%, rgba(46, 28, 23, 1) 100%);
}

footer i {
    color: #FFF6F2;
    font-size: 160%;
    padding: 5%;
}

#socialmedia {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

/* Media query: larger or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    #menu li {
        font-size: 150%;
    }
}