/* Asterisk wildcard sector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #2e1c17;
}

/* Header styles */
header {
    margin: 2%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    text-decoration: none;
    color: inherit;
}

header a {
    text-decoration: none;
    color: inherit;
}

nav {
    display: block;
    position: relative;
    width: 100%;
}

#logo {
    width: 80px;
}

#menu {
    display: flex;
    justify-content: flex-end;
}

#menu>li {
    list-style-type: none;
    position: relative;
    bottom: 0;
    padding: 0 5px;
}

/* Main styles */
main {
    flex: 1 0 auto;
}

#hero {
    height: 250px;
    background: linear-gradient(0deg, rgba(46, 28, 23, .6) 0%, rgba(255, 255, 255, 0) 50%, rgba(46, 28, 23, 1) 100%), 
    url('../images/Hero-pic.png') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    /*linear-gradient(0deg, rgba(46,28,23,0.6) 0%, rgba(255,255,255,0) 50%, rgba(46,28,23,0.6) 100%)*/
}

section h1 {
    font-size: 200%;
}

section h2 {
    font-size: smaller;
}

/* Footer styles */
footer {
    background-color: azure;
}